<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
<h1>Available Labs</h1>
<ol>
	<li> <%= link_to "None Algorithm [Very Easy]", "authentication/none" =%></li>
	<li> <%= link_to "Exposed Key [Easy]", "authentication/hmac" =%></li>
	<li> <%= link_to "Signature Not Checked [Very Easy]", "authentication/signature" =%></li>
	<li> <%= link_to "Weak Signature [Medium]", "authentication/weak" =%></li>
	<li> <%= link_to "Vulnerable Kid [Medium Hard]", "authentication/kid" =%></li>
</ol>

<h1> Labs Walkthrough </h1>
<a href="https://medium.com/@adamc95/json-web-token-lab-guide-c402857fa44c"> Available at my medium blog here </a>
    </div>
</div>
